<a href="https://colab.research.google.com/github/sean-halpin/AdventOfCode/blob/master/SeanHalpin_DVT_CA3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_raw = pd.read_csv('consolidated_coin_data.csv')

In [ ]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28944 entries, 0 to 28943
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Currency    28944 non-null  object
 1   Date        28944 non-null  object
 2   Open        28944 non-null  object
 3   High        28944 non-null  object
 4   Low         28944 non-null  object
 5   Close       28944 non-null  object
 6   Volume      28944 non-null  object
 7   Market Cap  28944 non-null  object
dtypes: object(8)
memory usage: 1.8+ MB

In [ ]:
df = df_raw
df['Open']=df_raw['Open'].str.replace(',','')
df["Open"] = pd.to_numeric(df_raw["Open"])

df['High']=df_raw['High'].str.replace(',','')
df["High"] = pd.to_numeric(df_raw["High"])

df['Low']=df_raw['Low'].str.replace(',','')
df["Low"] = pd.to_numeric(df_raw["Low"])

df['Close']=df_raw['Close'].str.replace(',','')
df["Close"] = pd.to_numeric(df_raw["Close"])

df['Volume']=df_raw['Volume'].str.replace(',','')
df["Volume"] = pd.to_numeric(df_raw["Volume"])

df['Market Cap']=df_raw['Market Cap'].str.replace(',','')
df["Market Cap"] = pd.to_numeric(df_raw["Market Cap"])

In [ ]:
df = df.dropna( how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28944 entries, 0 to 28943
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Currency    28944 non-null  object
 1   Date        28944 non-null  object
 2   Open        28944 non-null  float64
 3   High        28944 non-null  float64
 4   Low         28944 non-null  float64
 5   Close       28944 non-null  float64
 6   Volume      28944 non-null  float64
 7   Market Cap  28944 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.0+ MB

In [ ]:
df.head()

  Currency          Date  Open  High   Low  Close      Volume  Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25   1.25  46048752.0   824588509
1    tezos  Dec 03, 2019  1.24  1.32  1.21   1.29  41462224.0   853213342
2    tezos  Dec 02, 2019  1.25  1.26  1.20   1.24  27574097.0   817872179
3    tezos  Dec 01, 2019  1.33  1.34  1.25   1.25  24127567.0   828296390
4    tezos  Nov 30, 2019  1.31  1.37  1.31   1.33  28706667.0   879181680

In [ ]:
df.Currency.unique().size

12

In [ ]:
df.Currency.value_counts()

bitcoin-sv      2412
eos             2412
litecoin        2412
bitcoin         2412
xrp             2412
bitcoin-cash    2412
tezos           2412
cardano         2412
ethereum        2412
binance-coin    2412
stellar         2412
tether          2412
Name: Currency, dtype: int64

In [ ]:
df.Date=pd.to_datetime(df.Date)
df["year"] = pd.DatetimeIndex(df["Date"]).year

In [ ]:
grouped_coins_high_per_year = df.groupby([df.Currency, df.year])["High"].max()

In [ ]:
grouped_coins_high_per_year

Currency      year
binance-coin  2013    53.150000
              2014    32.060000
              2015     8.730000
              2016     5.950000
              2017    53.550000
                        ...
xrp           2015     0.024455
              2016     0.009485
              2017     2.850000
              2018     3.840000
              2019     0.505467
Name: High, Length: 84, dtype: float64

In [105]:
grouped_coins_avg_volume_per_year = df.groupby([df.Currency, df.year])["Volume"].mean()

In [106]:
grouped_coins_avg_volume_per_year

Currency      year
binance-coin  2013    2.959136e+05
              2014    5.842590e+06
              2015    3.416128e+06
              2016    3.058113e+06
              2017    8.075553e+07
                          ...
xrp           2015    6.843716e+05
              2016    1.425809e+06
              2017    2.856287e+08
              2018    8.177491e+08
              2019    1.294813e+09
Name: Volume, Length: 84, dtype: float64